  <div class="card photo">
    <div class="card-header">
    <%= photo.username %> <%= time_ago_in_words(photo.created_at)%>
    </div>
    <%= image_tag photo.url, class: "card-img-top", alt: "photo"%>
    <% if photo.caption.present? %>
      <div class="card-block">
      <p class="card-text">
        <%= photo.caption %>
        </p>
      </div>
    <% end %>   

  <div class="card-footer">
    <%= form_for [photo, Comment.new] do |f| %>
      <%= f.text_field :body, placeholder: "Add a comment...", class: "form-control" %>
    <% end %>

   
    <% if photo.comments.present? %>
      <% photo.comments.each do |comment| %>
       <%= render "comment", comment: comment%>
        <% end %>
    <% else %>
      No comments yet.
    <% end %>
    </div>
  </div>