<!DOCTYPE html>
<html>
  <head>
    <title>Instacamp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
<nav class="navbar navbar-toggleable navbar-light bg-faded">
  <a class="navbar-brand" href="<%= root_path %>">InstaCamp</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
    <% flash.each do |key, value| %>
      <div class="alert <%= flasherize(key) %>">
        <%= value %>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
